@font-face {
    font-family: 'TitilliumWeb';
    src: url('../fonts/TitilliumWeb-Roman-VF.ttf');
    format("truetype");
    font-weight: bold;
}
body {
    background-color: #111111;
    color: #ffffff;
    direction: rtl;
    font-family: 'TitilliumWeb';
}
h1 {font-size: 6em;}
P {font-size: 3em;}
.variable {
    font-family: 'TitilliumWeb';
    --wght: 0;
    font-variation-settings: 'wght' var(--wght);
}
